<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular App Lets Go!!</title> 
</head>
<body>
  <nav class="navbar">
    <!-- Optional Logo -->
    <div class="logo"><img src="assets/icons/logo.png" alt="Logo">
    </div>
    
    <!-- Router Links -->
    <div class="nav-links">
      <a routerLink="/counter" routerLinkActive="active">Counter</a>
      <a routerLink="/todo" routerLinkActive="active">Todo</a>
      <a routerLink="/posts" routerLinkActive="active">PostList</a>
    </div>
  </nav>
<router-outlet></router-outlet>

</body>
</html>